.logo h3 {
   margin: auto;
}

/******** Styling for card game ********/
.container {
    width: 1080px;
    margin: 0 auto;
}

.gameCard {
    float: left;
    margin: 10px;
    height: 200px;
    width: 150px;
    background: rgb(23, 103, 23);
    border-radius: 5px;
    box-shadow: 10px 10px 10px #ccc;
    text-align: center;
    overflow: auto;
}

.gameCard:hover {
    cursor: pointer;
    border: 3px solid tomato;
}
.gameCard p {
    font-size: 24px;
}

.startbtn {
    display: block;
    margin: 10px auto;
    position: relative;
    text-align: center;
  }

/********* TIMER *********/
.timer {
    display: block;
    margin: 10px auto;
    position: relative;
    width: 150px;
    height: 50px;
    line-height: 50px;
    background-color: #fff;
    border-radius: 25px;
    border: 2px solid #1abc9c;
    font-size: 40px;
    text-align: center;
    color: #999;
  }

  .critical {
  color: red;
}
