<!--This is the template that contains the search cards. It checks if the user is logged to show the add button. -->
<div class="row">
<div ng-repeat="stuff in APIService.results">
<div class="col s12 m8">
  <div class="card horizontal hoverable">
    <div class="card-image">
      <p>{{stuff.furigana}}</p>
      <h2>{{stuff.japanese}}</h2>
    </div>
    <div class="card-stacked">
      <div class="card-content center-align">
        <p>{{stuff.pos}}</p>
        <ul>
            <li ng-repeat="definition in stuff.definitions">
              {{definition}}
            </li>
        </ul>
      </div>
      <div class="card-action right-align">
        <a ng-show="isLoggedIn" ng-click="submitCard(stuff)" onclick="Materialize.toast('Vocab added!', 3000, 'green')" class="btn-floating btn-large waves-effect waves-light green"><i class="material-icons">add</i></a>
      </div>
    </div>
  </div>
</div>
</div>
</div>
