<!--This template contains the card game that is accessed when the user clicks on the game button.-->
<div class="container">

    <div class="timer" ng-class="{critical:isCritical}">
        {{timeLimit | date: 'm:ss'}} 	
    </div>
    <div class="startbtn">
        <a ng-click="showAllGameCards(); startTimer()" class="waves-effect waves-light btn">Start!</a>
        <a ng-click="showAllGameCards(); restartTimer()" class="waves-effect waves-light btn red">Restart!</a>
    </div>

    <div ng-repeat="item in gameArray" ng-click="isGuarding || selectCard(item)">
    <div ng-if="!item.matched" class="gameCard unmatched" dataValue={{item.key}} >
        <div ng-if="item.selected" class="card-content">
            <p>{{item.furigana}}</p>
            <h3>{{item.gameCard}}</h3>
        </div>
    </div>  
</div>  
</div>



