<nav ng-controller="navCtrl">
    <div class="nav-wrapper light-green darken-3">
      <div class="left">
        <a class="brand-logo"></a>
        <h3>Wagashi/和菓子</h3>
      </div>
 
      <div>
          <ul class="center hide-on-med-and-down">
          <li><div class="center row">
                  <div class="col s12 " >
                    <div class="row" id="topbarsearch">
                      <div class="input-field col s20">
                         <i class="material-icons prefix">search</i>
                         <input type="text" ng-keyup="search($event)" placeholder="English or Japanese">
                      </div>
                    </div>
                  </div>
              </div>  
          </li>
          </ul>
          <ul class="right hide-on-med-and-down">
          <li><a ng-show="isLoggedIn" href="#!/home"><i class="material-icons">home</i></a></li>
          <li><a ng-href="#!" ng-show="!isLoggedIn" ng-click="loginGoogle()">Login</a></li>
          <li><a ng-href="#!" ng-show="isLoggedIn" ng-click="logout()">Logout</a></li>
          </ul>
      </div>
    </div>
</nav>

